.hero {
  position: relative;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: start;
}

.hero-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  gap: 4rem;
  min-height: 70vh;
  margin-top: 5rem;
}

.hero .subtitle {
  margin-bottom: 2rem;
  font-weight: 400;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.overlay {
  background: linear-gradient(
    -43deg,
    hsl(225.31deg 54% 14%),
    hsl(225.38deg 45% 40%)
  );
  position: absolute;
  inset: 0;
  z-index: -1;
}

.content {
  position: relative;
  color: white;
  margin-left: 0;
}

@media (min-width: 530px) {
  .content {
    margin-left: 10%;
  }
}

@media (min-width: 800px) {
  .hero-main {
    min-height: 65vh;
  }

  .hero h1 {
    font-size: 5rem;
  }

  .hero p {
    font-size: 2rem;
  }

  .content {
    margin-left: 10%;
  }
  .background {
    width: 80%;
    align-self: center;
  }
}

@media (min-width: 1280px) {
  .hero-main {
    gap: 8rem;
  }
  .content {
    margin-left: 5%;
    flex: 5;
  }
  .background {
    display: revert;
    flex: 4;
    align-self: flex-end;
    margin-right: 7rem;
    max-width: min(1570px, 75%);
  }

  .hero .subtitle {
    margin-bottom: 2rem;
    font-size: var(--font-size-xxxl);
    font-weight: 400;
  }
}
