.hero {
  position: relative;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: start;
}

.hero .subtitle {
  margin-bottom: 2rem;
  font-weight: 400;
}

.background {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  bottom: 30%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.overlay {
  background: linear-gradient(
    -43deg,
    hsl(225.31deg 54% 14%),
    hsl(225.38deg 45% 40%)
  );
  position: absolute;
  inset: 0;
}

.content {
  margin-top: -30rem;
  position: relative;
  color: white;
  margin-left: 0;
}

@media (min-width: 530px) {
  .content {
    margin-left: 10%;
  }
}

@media (min-width: 800px) {
  .content {
    margin-left: 10%;
  }
  .background {
    width: min(1100px, 60%);
  }
}

@media (min-width: 1280px) {
  .content {
    margin-left: 10%;
  }
  .background {
    bottom: min(20%, 250px);
    width: min(1100px, 70%);
  }

  .hero .subtitle {
    margin-bottom: 2rem;
    font-size: var(--font-size-xxxl);
    font-weight: 400;
  }
}
