.team {
    position: relative;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .55);
    top: 0;
    bottom: 0;
}

.content {
    position: relative;
    padding: 60px 10px;
}

.content h2 {
    font-weight: 400;
    padding-bottom: 1rem;
}

@media (min-width: 1280px) {
    .content h2 {
        font-size: var(--font-size-xxl);
        transition: all .3s ease-in-out;
    }
}
