.about {
  background-color: white;
  padding: 5rem 2rem;
  color: black;
  display: flex;
  justify-content: center;
  min-height: 60vh;
}

.text {
  font-size: 3rem;
}

.text p {
  font-family: var(--font-montserrat), sans-serif;
  font-size: var(--font-size-xl);
}

.wrapper {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .text p {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .text p {
    font-size: 4rem;
  }
}

@media (min-width: 1880px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;
    max-width: 1880px;
  }

  .text {
    align-self: flex-start;
    width: 50%;
    flex: 1;
  }
}
