.about {
    background-color: black;
    padding: 2rem;
    color: white;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-img {
    width: 84%;
    max-width: 720px;
    margin: 3rem auto 1rem;
}

.about h3 {
    margin-bottom: 1rem;
}

@media (min-width: 1280px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 5rem;
        max-width: 1280px;
    }

    .about-img {
        max-width: 470px;
        margin: 0;
    }
    
    .text {
        width: 50%;
    }
}