.title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: calc(36/16 * 1rem);
}

.team {
    flex: 1;
    isolation: isolate;
    color: white;
    padding-top: calc(169/16 * 1rem);
    padding-bottom: calc(80/16 * 1rem);
    background-color: hsl(53deg 40% 36% / 0.765);
}

.container {
    margin: 0 auto;
    max-width: min(80%, 1200px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(30/16 * 1rem);
}

.card {
    position: relative;
    border-radius: 20px;
    max-width: 400px;
    flex: 1 1  300px;
    background-color: hsl(53deg 40% 26% / 0.765);
    overflow: hidden;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-info {
    padding: calc(30/16 * 1rem);
}

.card-info > hr {
    margin: calc(6/16 * 1rem) 0 calc(16/16 * 1rem);
}

.card-bio {
    background-color: hsl(53deg 40% 6% / 0.85);
    padding: 2rem;
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: auto;
}