.courses {
  width: 100%;
  padding: calc(60 / 16 * 1rem) calc(30 / 16 * 1rem);
  max-width: 1280px;
  margin: 0 auto;
}

.courses h1 {
  padding: calc(20 / 16 * 1rem) 0 calc(40 / 16 * 1rem);
}

.courses ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: calc(30 / 16 * 1rem);
}

.courses ul li {
  display: block;
  flex: 1 0 100%;
}

.img-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.courses ul li img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/0.8;
}

.content {
  padding: calc(20 / 16 * 1rem) 0;
}

.content h3 {
    padding-bottom: calc(20/16 * 1rem);
}

@media (min-width: 530px) {
  .courses ul li {
    flex: 0 0 calc(50% - 30/16 * 1rem);
  }
}

@media (min-width: 800px) {
  .courses ul li {
    flex: 1 0 calc(33.3% - 30/16 * 1rem);
  }
}

@media(min-width: 1280px) {
  .courses {
    max-width: min(90%, calc(1300/16 * 1rem));
  }
}