.blueBg {
  background: linear-gradient(
    -43deg,
    hsl(225.31deg 54% 14%),
    hsl(225.38deg 45% 40%)
  );
  position: absolute;
  inset: 0;
  z-index: -1;
}

.lightBlueBg {
  background: linear-gradient(
    -43deg,
    hsl(225.31deg 54% 64%),
    hsl(225.38deg 45% 80%)
  );
  position: absolute;
  inset: 0;
  z-index: -1;
}

.mainContent {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem 2rem;
}

.mainContent p, .mainContent h1, .mainContent h2, .mainContent h3 { 
  color: white;
}

.modules {
  width: 100%;
  max-width: 1200px;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  padding-top: 1rem;
  font-size: var(--font-size-l);
  font-weight: 700;
}

.answer {
  padding-top: 1rem;
  font-size: var(--font-size-m);
  animation: drop-in 0.5s ease-out;
  animation-fill-mode: forwards;
}

.quotesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 1248px) {
  .modules {
    max-width: 75%;
  }
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}