.blueBg {
  background: linear-gradient(
    -43deg,
    hsl(225.31deg 54% 14%),
    hsl(225.38deg 45% 40%)
  );
  position: absolute;
  inset: 0;
  z-index: -1;
  color: white;
}

.mainContent {
  margin-top: 5rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.question {
  padding-top: 2rem;
  font-size: var(--font-size-l);
  font-weight: 700;
  color: hsl(225.38deg 45% 40%);
}

.answer {
  font-size: var(--font-size-m);
  color: hsl(225.38deg 45% 40%);
  animation: drop-in 0.5s ease-out;
  animation-fill-mode: forwards;
}

.quotesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}