.blueBg {
  background: linear-gradient(
    -43deg,
    hsl(225.31deg 54% 14%),
    hsl(225.38deg 45% 40%)
  );
  position: absolute;
  inset: 0;
  z-index: -1;
}

.lightBlueBg {
  background: linear-gradient(
    -43deg,
    hsl(225.31deg 54% 64%),
    hsl(225.38deg 45% 80%)
  );
  position: absolute;
  inset: 0;
  z-index: -1;
}

.mainContent {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem 2rem;
}

.mainContent p, .mainContent h1, .mainContent h2, .mainContent h3 { 
  color: white;
}

.modules {
  width: 100%;
  max-width: 1200px;
}

.featureItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 0 1rem 2rem;
  border-radius: 5px;
}

.question {
  padding-top: 1rem;
  font-size: var(--font-size-l);
  font-weight: 700;
  cursor: pointer;
}

.answer {
  padding-top: 1rem;
  font-size: var(--font-size-m);
  animation: drop-in 0.5s ease-out;
  animation-fill-mode: forwards;
}

.quotesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.chevron {
  position: absolute;
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  transition: transform 0.5s;
  bottom: 0;
  background-color: hsl(225.31deg 54% 14%);
  margin-bottom: -1rem;
  border: 1px solid white;
  border-radius: 50%;
}

.chevron:hover {
  cursor: pointer;
}

.chevron:active {
  transform: translateY(2px);
}

.chevronOpen {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

@media (min-width: 1248px) {
  .modules {
    max-width: 75%;
  }
  .quotesGrid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}