.array {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 1rem;
}

.featureCard {
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
  gap: 1rem;
  background: hsl(225.31deg 65% 93%);
}

@media (min-width: 530px) {
  .array {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .array {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1880px) {
  .wrapper {
    flex: 1;
  }
}
